* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import './blocks/varibles';
@import './blocks/mixins';
body {
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 35px;
}

@import './blocks/header';
@import './blocks/fonts';
@import './blocks/clients';