.motiveted {
    max-width: 1440px;
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.motivated__flex {
    display: flex;
    column-gap: 37px;
}

.motivated__flex__items {
    max-width: 360px;
    width: 100%;
}

.motivated__flex__items__title {
    max-width: 300px;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #333461;
}

.motivated__flex__items__paragrf {
    max-width: 300px;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #333461;
}

.new__motiv__box {
    max-width: 356px;
    width: 100%;
    padding: 24px 28px;
}

.motiveted__title {
    max-width: 680px;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #333461;
    margin-top: 365px;
}

.motiveted__btn {
    max-width: 250px;
    width: 100%;
    height: 42px;
    padding: 9px 16px 9px 16px;
    border-radius: 10px;
    border: none;
    background-color: #20AD96;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
}

.motivated__flex__items__line {
    display: none;
    max-width: 260px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

@media(max-width:768px) {
    .motivated__flex {
        flex-direction: column;
        row-gap: 30px;
    }
    .motivated__flex__items {
        max-width: 600px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .motivated__flex__items__title {
        font-size: 15px;
        font-weight: 800;
        line-height: 25px;
    }
    .motivated__flex__items__paragrf {
        font-size: 10px;
    }
    .motivated__flex__items:nth-child(2) img {
        order: 3;
    }
    .motiveted {
        margin-top: 100px;
        row-gap: 37px;
    }
    .motiveted__title {
        font-size: 40px;
        margin-top: 20px;
    }
    .motivated__flex__items__imgs {
        height: 160px;
    }
}

@media(max-width:375px) {
    .motivated__flex__items {
        display: flex;
        flex-direction: column;
    }
    .motivated__flex__items__imgs {
        max-width: 260px;
        width: 100%;
    }
    .motiveted__title {
        font-size: 20px;
    }
    .motivated__flex__items:nth-child(2) img {
        order: 0;
    }
    .motiveted__btn {
        background-color: #91f4e3;
    }
    .motiveted {
        margin-top: 350px;
    }
    .motivated__flex__items__line {
        display: block;
    }
}